<div class="container-fluid mt-4">
  <h2 class="text-center text-secondary mb-3">
    {{ "employee_list.title" | translate }}
  </h2>

  <form class="d-flex justify-content-between align-items-center" role="search">
    <!-- Left Section: Search Bar and Search Button -->
    <div class="d-flex align-items-center flex-grow-1">
      <input
        class="form-control me-2"
        type="text"
        placeholder="{{
          'employee_list.search_employee_placeholder' | translate
        }}"
        aria-label="Search"
        [(ngModel)]="searchQuery"
        name="searchEmployee"
        style="flex-grow: 1"
      />
      <button
        class="btn btn-outline-primary me-4"
        type="search"
        (click)="onSearchEmployees()"
      >
        {{ "employee_list.search_button" | translate }}
      </button>
    </div>

    <!-- Right Section: Add Button and Sort Dropdown -->

    <div class="d-flex align-items-center">
      <button
        class="btn btn-success me-3"
        data-bs-toggle="modal"
        data-bs-target="#employeeModal"
        title="Add Employee"
        type="button"
      >
        <i class="bi bi-person-plus-fill"></i>
        {{ "employee_list.add_employee_button" | translate }}
      </button>
      <select
        class="form-select w-auto"
        aria-label="Sort Age"
        (change)="sortAge($event)"
      >
        <option selected value="0">
          {{ "employee_list.sort_age" | translate }}
        </option>
        <option value="1">{{ "employee_list.youngest" | translate }}</option>
        <option value="2">{{ "employee_list.oldest" | translate }}</option>
      </select>
    </div>
  </form>

  <br />
  <!-- Loading spinner -->
  @if (loading) {
  <div class="d-flex justify-content-center">
    <div class="spinner-border text-primary" role="status">
      <span class="visually-hidden">{{
        "employee_list.loading" | translate
      }}</span>
    </div>
  </div>
  }

  <!-- Error message -->
  @if (error) {
  <div class="alert alert-danger" role="alert">
    {{ error }}
  </div>
  } @if (!resultsFound && inputTouched && this.employees.length === 0) {
  <p class="alert alert-danger text-center">
    {{ "employee_list.employees_not_found" | translate }}
  </p>
  }

  <!-- Employee table -->
  @if (!loading && !error) {
  <div class="table-responsive">
    <table class="table table-striped table-hover">
      <thead class="thead-light">
        <tr>
          <th scope="col" class="d-none d-sm-table-cell">
            {{ "employee_list.id" | translate }}
          </th>
          <th scope="col" class="d-none d-md-table-cell">
            {{ "employee_list.image" | translate }}
          </th>
          <th scope="col">{{ "employee_list.first_name" | translate }}</th>
          <th scope="col">{{ "employee_list.last_name" | translate }}</th>
          <th scope="col" class="d-none d-sm-table-cell">
            {{ "employee_list.email" | translate }}
          </th>
          <th scope="col" class="d-none d-sm-table-cell">
            {{ "employee_list.contact" | translate }}
          </th>
          <th scope="col" class="d-none d-sm-table-cell">
            {{ "employee_list.age" | translate }}
          </th>
          <th scope="col" class="d-none d-sm-table-cell">
            {{ "employee_list.salary" | translate }}
          </th>
          <th scope="col" class="d-none d-md-table-cell">
            {{ "employee_list.address" | translate }}
          </th>
          <th scope="col" class="d-none d-md-table-cell">
            {{ "employee_list.edit" | translate }}
          </th>
          <th scope="col" class="d-none d-md-table-cell">
            {{ "employee_list.delete" | translate }}
          </th>
        </tr>
      </thead>
      <tbody>
        @for (employee of employees | paginate: { itemsPerPage: itemsPerPage,
        currentPage: currentPage }; track $index) {
        <tr>
          <td class="d-none d-sm-table-cell">{{ employee.id }}</td>
          <td class="d-none d-md-table-cell">
            <img
              [src]="employee.imageUrl"
              alt="Employee Image"
              class="img-fluid rounded"
              width="50"
              height="50"
            />
          </td>
          <td>{{ employee.firstName }}</td>
          <td>{{ employee.lastName }}</td>
          <td class="d-none d-sm-table-cell">{{ employee.email }}</td>
          <td class="d-none d-sm-table-cell">
            {{ employee.contactNumber || 1234567890 }}
          </td>
          <td class="d-none d-sm-table-cell">{{ employee.age }}</td>
          <td class="d-none d-sm-table-cell">
            {{ employee.salary | currency }}
          </td>
          <td class="d-none d-md-table-cell">{{ employee.address }}</td>
          <!-- Edit button -->
          <td>
            <i
              class="bi bi-pen-fill edit"
              title="Edit"
              data-bs-toggle="modal"
              data-bs-target="#employeeModal"
              (click)="editEmployee(employee)"
            ></i>
          </td>
          <!-- Delete button -->
          <td>
            <i
              class="bi bi-trash-fill text-danger delete"
              (click)="deleteEmployee(employee.id)"
            ></i>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
  }
  <div class="d-flex justify-content-center mt-3">
    <pagination-controls
      (pageChange)="currentPage = $event"
      previousLabel="{{ 'pagination.previous' | translate }}"
      nextLabel="{{ 'pagination.next' | translate }}"
      class="pagination"
    >
    </pagination-controls>
  </div>
</div>

<div
  class="modal fade"
  id="employeeModal"
  tabindex="-1"
  aria-labelledby="employeeModalLabel"
  aria-hidden="true"
  role="dialog"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h2>{{ employeeData ? "Edit Employee" : "Add Employee" }}</h2>
      </div>
      <!-- Modal Body -->
      <div class="modal-body">
        <!-- Reusable Form Component -->
        <app-employee-modal-form
          (employeeAdded)="onEmployeeAdded($event)"
          (employeeUpdated)="updateEmployee($event)"
          [employeeData]="selectedEmployee"
        ></app-employee-modal-form>
      </div>
    </div>
  </div>
</div>
