<br /><br /><br /><br />
<div class="container d-flex justify-content-center align-items-center">
  <div class="col-md-8">
    <div class="card shadow-lg border-0 rounded-4 p-4">
      <div class="card-body text-center">
        <h2 class="mb-3 fw-bold">{{ "homepage.title" | translate }}</h2>
        <p class="text-muted">
          {{ "homepage.description" | translate }}
        </p>
        <div class="mt-4">
          <div class="d-flex justify-content-around">
            <div class="p-3 bg-light rounded shadow-sm w-100 mx-2">
              <h5 class="fw-semibold">
                {{ "homepage.employee_records" | translate }}
              </h5>
              <p class="text-muted">
                {{ "homepage.employee_records_text" | translate }}
              </p>
            </div>
            <div class="p-3 bg-light rounded shadow-sm w-100 mx-2">
              <h5 class="fw-semibold">
                {{ "homepage.medical_history" | translate }}
              </h5>
              <p class="text-muted">
                {{ "homepage.medical_history_text" | translate }}
              </p>
            </div>
            <div class="p-3 bg-light rounded shadow-sm w-100 mx-2">
              <h5 class="fw-semibold">
                {{ "homepage.analytics" | translate }}
              </h5>
              <p class="text-muted">
                {{ "homepage.analytics_text" | translate }}
              </p>
            </div>
          </div>
        </div>
        <hr class="my-4" />
        <p class="text-muted">
          {{ "homepage.message" | translate }}
        </p>
      </div>
    </div>
  </div>
</div>
